-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "auth";

-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "auth"."aal_level" AS ENUM ('aal1', 'aal2', 'aal3');

-- CreateEnum
CREATE TYPE "auth"."factor_status" AS ENUM ('unverified', 'verified');

-- CreateEnum
CREATE TYPE "auth"."factor_type" AS ENUM ('totp', 'webauthn', 'phone');

-- CreateEnum
CREATE TYPE "auth"."one_time_token_type" AS ENUM ('confirmation_token', 'reauthentication_token', 'recovery_token', 'email_change_token_new', 'email_change_token_current', 'phone_change_token');

-- CreateEnum
CREATE TYPE "auth"."code_challenge_method" AS ENUM ('s256', 'plain');

-- CreateEnum
CREATE TYPE "auth"."oauth_authorization_status" AS ENUM ('pending', 'approved', 'denied', 'expired');

-- CreateEnum
CREATE TYPE "auth"."oauth_client_type" AS ENUM ('public', 'confidential');

-- CreateEnum
CREATE TYPE "auth"."oauth_registration_type" AS ENUM ('dynamic', 'manual');

-- CreateEnum
CREATE TYPE "auth"."oauth_response_type" AS ENUM ('code');

-- CreateEnum
CREATE TYPE "public"."estoque_movimentacao_tipo" AS ENUM ('entrada_compra', 'entrada_manual', 'saida_producao', 'ajuste_inventario', 'perda', 'transferencia_entrada', 'transferencia_saida');

-- CreateEnum
CREATE TYPE "public"."estoque_origem_tipo" AS ENUM ('compra', 'recebimento', 'inventario', 'producao', 'manual', 'transferencia', 'integracao');

-- CreateEnum
CREATE TYPE "public"."estoque_status_validade" AS ENUM ('ok', 'vencendo', 'vencido', 'sem_validade');

-- CreateEnum
CREATE TYPE "public"."match_status" AS ENUM ('pendente', 'confirmado', 'rejeitado', 'corrigido');

-- CreateEnum
CREATE TYPE "public"."origem_movimentacao" AS ENUM ('recebimento', 'venda', 'ajuste_manual', 'perda', 'inventario');

-- CreateEnum
CREATE TYPE "public"."papel_usuario" AS ENUM ('dono', 'admin', 'operador', 'viewer');

-- CreateEnum
CREATE TYPE "public"."plano_saas" AS ENUM ('starter', 'pro', 'enterprise');

-- CreateEnum
CREATE TYPE "public"."segmento_empresa" AS ENUM ('restaurante', 'pizzaria', 'mercado', 'foodservice', 'outro');

-- CreateEnum
CREATE TYPE "public"."status_assinatura" AS ENUM ('trial', 'ativa', 'inadimplente', 'cancelada');

-- CreateEnum
CREATE TYPE "public"."status_conta_pagar" AS ENUM ('pendente', 'pago', 'atrasado', 'cancelado');

-- CreateEnum
CREATE TYPE "public"."status_convite" AS ENUM ('pendente', 'aceito', 'expirado');

-- CreateEnum
CREATE TYPE "public"."status_pedido" AS ENUM ('rascunho', 'enviado', 'parcial', 'recebido', 'cancelado');

-- CreateEnum
CREATE TYPE "public"."status_recebimento" AS ENUM ('pendente', 'em_conferencia', 'divergencia', 'conferido', 'integrado', 'fechado');

-- CreateEnum
CREATE TYPE "public"."status_usuario_emp" AS ENUM ('ativo', 'inativo', 'convidado');

-- CreateEnum
CREATE TYPE "public"."tipo_ia_execucao" AS ENUM ('ler_nota_xml', 'ler_nota_pdf', 'ler_nota_ocr', 'match_produto', 'aprendizado', 'sugestao_compra', 'assessor');

-- CreateEnum
CREATE TYPE "public"."tipo_movimentacao" AS ENUM ('entrada', 'saida', 'ajuste');

-- CreateEnum
CREATE TYPE "public"."unidade_medida" AS ENUM ('kg', 'g', 'litro', 'ml', 'unidade', 'caixa', 'pacote', 'fardo', 'bisnaga', 'duzia', 'saco', 'outro');

-- CreateTable
CREATE TABLE "public"."tenants" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "name" TEXT NOT NULL,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "waToken" TEXT NOT NULL,
    "waPhoneNumberId" TEXT NOT NULL,
    "waWabaId" TEXT,
    "cwBaseUrl" TEXT NOT NULL DEFAULT 'https://integracao.cardapioweb.com',
    "cwApiKey" TEXT NOT NULL,
    "cwPartnerKey" TEXT NOT NULL,
    "cwStoreId" TEXT,
    "city" TEXT,
    "webhookToken" TEXT,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "tenants_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."customers" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "tenantId" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "name" TEXT,
    "lastAddress" TEXT,
    "lastStreet" TEXT,
    "lastNumber" TEXT,
    "lastNeighborhood" TEXT,
    "lastComplement" TEXT,
    "lastCity" TEXT,
    "lastLat" DOUBLE PRECISION,
    "lastLng" DOUBLE PRECISION,
    "handoff" BOOLEAN NOT NULL DEFAULT false,
    "handoffAt" TIMESTAMPTZ(6),
    "visitCount" INTEGER NOT NULL DEFAULT 0,
    "lastInteraction" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastOrderSummary" TEXT,
    "preferredPayment" TEXT,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "queuedAt" TIMESTAMPTZ(6),
    "claimedBy" TEXT,

    CONSTRAINT "customers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."orders" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "tenantId" TEXT NOT NULL,
    "customerId" TEXT NOT NULL,
    "idempotencyKey" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'waiting_confirmation',
    "total" DOUBLE PRECISION NOT NULL,
    "deliveryFee" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "discount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "totalValidated" BOOLEAN NOT NULL DEFAULT false,
    "totalExpected" DOUBLE PRECISION,
    "fulfillment" TEXT NOT NULL,
    "paymentMethodId" TEXT,
    "paymentMethodName" TEXT,
    "itemsSnapshot" TEXT NOT NULL,
    "addressSnapshot" TEXT,
    "cwOrderId" TEXT,
    "cwPayload" TEXT,
    "cwResponse" TEXT,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "cardapiowebStatus" TEXT,
    "statusChangedAt" TIMESTAMPTZ(6),
    "timeInCurrentStatusMinutes" INTEGER,
    "dailyAvgProdToOutMinutes" DOUBLE PRECISION,
    "dailyAvgOutToDoneMinutes" DOUBLE PRECISION,
    "estimatedRemainingMin" INTEGER,
    "estimatedRemainingMax" INTEGER,
    "weatherDelayFactor" DOUBLE PRECISION,
    "delayAlertSentAt" TIMESTAMPTZ(6),
    "secondDelayAlertSentAt" TIMESTAMPTZ(6),
    "thirdDelayAlertSentAt" TIMESTAMPTZ(6),
    "attendantAlertSentAt" TIMESTAMPTZ(6),
    "watchedByAttendant" TEXT,
    "deliveryRiskLevel" TEXT,
    "compensationEligible" BOOLEAN DEFAULT false,
    "compensationReason" TEXT,
    "compensationType" TEXT,
    "couponCode" TEXT,
    "couponGeneratedAt" TIMESTAMPTZ(6),
    "couponSentAt" TIMESTAMPTZ(6),

    CONSTRAINT "orders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."order_status_logs" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "orderId" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "source" TEXT NOT NULL DEFAULT 'system',
    "note" TEXT,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "order_status_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."messages" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "customerId" TEXT NOT NULL,
    "role" TEXT NOT NULL,
    "text" TEXT NOT NULL,
    "sender" TEXT,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "mediaUrl" TEXT,
    "mediaType" TEXT DEFAULT 'text',
    "waMessageId" TEXT,
    "status" TEXT DEFAULT 'sent',

    CONSTRAINT "messages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."configs" (
    "id" SERIAL NOT NULL,
    "key" TEXT NOT NULL,
    "value" TEXT NOT NULL,

    CONSTRAINT "configs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."retention_campaigns" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "tenantId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "delayHours" INTEGER NOT NULL DEFAULT 20,
    "monthlyLimit" INTEGER NOT NULL DEFAULT 100,
    "aiFilter" BOOLEAN NOT NULL DEFAULT true,
    "active" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "retention_campaigns_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."retention_sends" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "campaignId" TEXT NOT NULL,
    "customerId" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "customerName" TEXT,
    "aiScore" TEXT,
    "sentAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "retention_sends_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."users" (
    "instance_id" UUID,
    "id" UUID NOT NULL,
    "aud" VARCHAR(255),
    "role" VARCHAR(255),
    "email" VARCHAR(255),
    "encrypted_password" VARCHAR(255),
    "email_confirmed_at" TIMESTAMPTZ(6),
    "invited_at" TIMESTAMPTZ(6),
    "confirmation_token" VARCHAR(255),
    "confirmation_sent_at" TIMESTAMPTZ(6),
    "recovery_token" VARCHAR(255),
    "recovery_sent_at" TIMESTAMPTZ(6),
    "email_change_token_new" VARCHAR(255),
    "email_change" VARCHAR(255),
    "email_change_sent_at" TIMESTAMPTZ(6),
    "last_sign_in_at" TIMESTAMPTZ(6),
    "raw_app_meta_data" JSONB,
    "raw_user_meta_data" JSONB,
    "is_super_admin" BOOLEAN,
    "created_at" TIMESTAMPTZ(6),
    "updated_at" TIMESTAMPTZ(6),
    "phone" TEXT,
    "phone_confirmed_at" TIMESTAMPTZ(6),
    "phone_change" TEXT DEFAULT '',
    "phone_change_token" VARCHAR(255) DEFAULT '',
    "phone_change_sent_at" TIMESTAMPTZ(6),
    "confirmed_at" TIMESTAMPTZ(6) DEFAULT LEAST(email_confirmed_at, phone_confirmed_at),
    "email_change_token_current" VARCHAR(255) DEFAULT '',
    "email_change_confirm_status" SMALLINT DEFAULT 0,
    "banned_until" TIMESTAMPTZ(6),
    "reauthentication_token" VARCHAR(255) DEFAULT '',
    "reauthentication_sent_at" TIMESTAMPTZ(6),
    "is_sso_user" BOOLEAN NOT NULL DEFAULT false,
    "deleted_at" TIMESTAMPTZ(6),
    "is_anonymous" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."identities" (
    "provider_id" TEXT NOT NULL,
    "user_id" UUID NOT NULL,
    "identity_data" JSONB NOT NULL,
    "provider" TEXT NOT NULL,
    "last_sign_in_at" TIMESTAMPTZ(6),
    "created_at" TIMESTAMPTZ(6),
    "updated_at" TIMESTAMPTZ(6),
    "email" TEXT DEFAULT lower((identity_data ->> 'email'::text)),
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),

    CONSTRAINT "identities_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."sessions" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "created_at" TIMESTAMPTZ(6),
    "updated_at" TIMESTAMPTZ(6),
    "factor_id" UUID,
    "aal" "auth"."aal_level",
    "not_after" TIMESTAMPTZ(6),
    "refreshed_at" TIMESTAMP(6),
    "user_agent" TEXT,
    "ip" INET,
    "tag" TEXT,
    "oauth_client_id" UUID,
    "refresh_token_hmac_key" TEXT,
    "refresh_token_counter" BIGINT,
    "scopes" TEXT,

    CONSTRAINT "sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."mfa_amr_claims" (
    "session_id" UUID NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL,
    "updated_at" TIMESTAMPTZ(6) NOT NULL,
    "authentication_method" TEXT NOT NULL,
    "id" UUID NOT NULL,

    CONSTRAINT "amr_id_pk" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."mfa_factors" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "friendly_name" TEXT,
    "factor_type" "auth"."factor_type" NOT NULL,
    "status" "auth"."factor_status" NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL,
    "updated_at" TIMESTAMPTZ(6) NOT NULL,
    "secret" TEXT,
    "phone" TEXT,
    "last_challenged_at" TIMESTAMPTZ(6),
    "web_authn_credential" JSONB,
    "web_authn_aaguid" UUID,
    "last_webauthn_challenge_data" JSONB,

    CONSTRAINT "mfa_factors_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."mfa_challenges" (
    "id" UUID NOT NULL,
    "factor_id" UUID NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL,
    "verified_at" TIMESTAMPTZ(6),
    "ip_address" INET NOT NULL,
    "otp_code" TEXT,
    "web_authn_session_data" JSONB,

    CONSTRAINT "mfa_challenges_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."refresh_tokens" (
    "instance_id" UUID,
    "id" BIGSERIAL NOT NULL,
    "token" VARCHAR(255),
    "user_id" VARCHAR(255),
    "revoked" BOOLEAN,
    "created_at" TIMESTAMPTZ(6),
    "updated_at" TIMESTAMPTZ(6),
    "parent" VARCHAR(255),
    "session_id" UUID,

    CONSTRAINT "refresh_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."one_time_tokens" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "token_type" "auth"."one_time_token_type" NOT NULL,
    "token_hash" TEXT NOT NULL,
    "relates_to" TEXT NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "one_time_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."audit_log_entries" (
    "instance_id" UUID,
    "id" UUID NOT NULL,
    "payload" JSON,
    "created_at" TIMESTAMPTZ(6),
    "ip_address" VARCHAR(64) NOT NULL DEFAULT '',

    CONSTRAINT "audit_log_entries_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."custom_oauth_providers" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "provider_type" TEXT NOT NULL,
    "identifier" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "client_id" TEXT NOT NULL,
    "client_secret" TEXT NOT NULL,
    "acceptable_client_ids" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "scopes" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "pkce_enabled" BOOLEAN NOT NULL DEFAULT true,
    "attribute_mapping" JSONB NOT NULL DEFAULT '{}',
    "authorization_params" JSONB NOT NULL DEFAULT '{}',
    "enabled" BOOLEAN NOT NULL DEFAULT true,
    "email_optional" BOOLEAN NOT NULL DEFAULT false,
    "issuer" TEXT,
    "discovery_url" TEXT,
    "skip_nonce_check" BOOLEAN NOT NULL DEFAULT false,
    "cached_discovery" JSONB,
    "discovery_cached_at" TIMESTAMPTZ(6),
    "authorization_url" TEXT,
    "token_url" TEXT,
    "userinfo_url" TEXT,
    "jwks_uri" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "custom_oauth_providers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."flow_state" (
    "id" UUID NOT NULL,
    "user_id" UUID,
    "auth_code" TEXT,
    "code_challenge_method" "auth"."code_challenge_method",
    "code_challenge" TEXT,
    "provider_type" TEXT NOT NULL,
    "provider_access_token" TEXT,
    "provider_refresh_token" TEXT,
    "created_at" TIMESTAMPTZ(6),
    "updated_at" TIMESTAMPTZ(6),
    "authentication_method" TEXT NOT NULL,
    "auth_code_issued_at" TIMESTAMPTZ(6),
    "invite_token" TEXT,
    "referrer" TEXT,
    "oauth_client_state_id" UUID,
    "linking_target_id" UUID,
    "email_optional" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "flow_state_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."instances" (
    "id" UUID NOT NULL,
    "uuid" UUID,
    "raw_base_config" TEXT,
    "created_at" TIMESTAMPTZ(6),
    "updated_at" TIMESTAMPTZ(6),

    CONSTRAINT "instances_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."oauth_authorizations" (
    "id" UUID NOT NULL,
    "authorization_id" TEXT NOT NULL,
    "client_id" UUID NOT NULL,
    "user_id" UUID,
    "redirect_uri" TEXT NOT NULL,
    "scope" TEXT NOT NULL,
    "state" TEXT,
    "resource" TEXT,
    "code_challenge" TEXT,
    "code_challenge_method" "auth"."code_challenge_method",
    "response_type" "auth"."oauth_response_type" NOT NULL DEFAULT 'code',
    "status" "auth"."oauth_authorization_status" NOT NULL DEFAULT 'pending',
    "authorization_code" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expires_at" TIMESTAMPTZ(6) NOT NULL DEFAULT (now() + '00:03:00'::interval),
    "approved_at" TIMESTAMPTZ(6),
    "nonce" TEXT,

    CONSTRAINT "oauth_authorizations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."oauth_client_states" (
    "id" UUID NOT NULL,
    "provider_type" TEXT NOT NULL,
    "code_verifier" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "oauth_client_states_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."oauth_clients" (
    "id" UUID NOT NULL,
    "client_secret_hash" TEXT,
    "registration_type" "auth"."oauth_registration_type" NOT NULL,
    "redirect_uris" TEXT NOT NULL,
    "grant_types" TEXT NOT NULL,
    "client_name" TEXT,
    "client_uri" TEXT,
    "logo_uri" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "deleted_at" TIMESTAMPTZ(6),
    "client_type" "auth"."oauth_client_type" NOT NULL DEFAULT 'confidential',
    "token_endpoint_auth_method" TEXT NOT NULL,

    CONSTRAINT "oauth_clients_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."oauth_consents" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "client_id" UUID NOT NULL,
    "scopes" TEXT NOT NULL,
    "granted_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "revoked_at" TIMESTAMPTZ(6),

    CONSTRAINT "oauth_consents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."saml_providers" (
    "id" UUID NOT NULL,
    "sso_provider_id" UUID NOT NULL,
    "entity_id" TEXT NOT NULL,
    "metadata_xml" TEXT NOT NULL,
    "metadata_url" TEXT,
    "attribute_mapping" JSONB,
    "created_at" TIMESTAMPTZ(6),
    "updated_at" TIMESTAMPTZ(6),
    "name_id_format" TEXT,

    CONSTRAINT "saml_providers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."saml_relay_states" (
    "id" UUID NOT NULL,
    "sso_provider_id" UUID NOT NULL,
    "request_id" TEXT NOT NULL,
    "for_email" TEXT,
    "redirect_to" TEXT,
    "created_at" TIMESTAMPTZ(6),
    "updated_at" TIMESTAMPTZ(6),
    "flow_state_id" UUID,

    CONSTRAINT "saml_relay_states_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."schema_migrations" (
    "version" VARCHAR(255) NOT NULL,

    CONSTRAINT "schema_migrations_pkey" PRIMARY KEY ("version")
);

-- CreateTable
CREATE TABLE "auth"."sso_domains" (
    "id" UUID NOT NULL,
    "sso_provider_id" UUID NOT NULL,
    "domain" TEXT NOT NULL,
    "created_at" TIMESTAMPTZ(6),
    "updated_at" TIMESTAMPTZ(6),

    CONSTRAINT "sso_domains_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."sso_providers" (
    "id" UUID NOT NULL,
    "resource_id" TEXT,
    "created_at" TIMESTAMPTZ(6),
    "updated_at" TIMESTAMPTZ(6),
    "disabled" BOOLEAN,

    CONSTRAINT "sso_providers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."webauthn_challenges" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID,
    "challenge_type" TEXT NOT NULL,
    "session_data" JSONB NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expires_at" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "webauthn_challenges_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."webauthn_credentials" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID NOT NULL,
    "credential_id" BYTEA NOT NULL,
    "public_key" BYTEA NOT NULL,
    "attestation_type" TEXT NOT NULL DEFAULT '',
    "aaguid" UUID,
    "sign_count" BIGINT NOT NULL DEFAULT 0,
    "transports" JSONB NOT NULL DEFAULT '[]',
    "backup_eligible" BOOLEAN NOT NULL DEFAULT false,
    "backed_up" BOOLEAN NOT NULL DEFAULT false,
    "friendly_name" TEXT NOT NULL DEFAULT '',
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "last_used_at" TIMESTAMPTZ(6),

    CONSTRAINT "webauthn_credentials_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Config" (
    "id" INTEGER NOT NULL DEFAULT 1,
    "key" TEXT NOT NULL,
    "value" TEXT NOT NULL,

    CONSTRAINT "Config_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Customer" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "phone" TEXT NOT NULL,
    "name" TEXT,
    "lastAddress" TEXT,
    "lastInteraction" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastFulfillment" TEXT,
    "preferredPayment" TEXT,
    "handoff" BOOLEAN NOT NULL DEFAULT false,
    "handoffAt" TIMESTAMP(3),
    "visitCount" INTEGER NOT NULL DEFAULT 0,
    "lastOrderSummary" TEXT,
    "preferences" TEXT,
    "lastLat" DOUBLE PRECISION,
    "lastLng" DOUBLE PRECISION,
    "lastStreet" TEXT,
    "lastNumber" TEXT,
    "lastNeighborhood" TEXT,
    "lastComplement" TEXT,

    CONSTRAINT "Customer_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Order" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "displayId" TEXT NOT NULL,
    "cwOrderId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'waiting_confirmation',
    "total" DOUBLE PRECISION NOT NULL,
    "items" TEXT NOT NULL,
    "cwJson" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "customerId" TEXT NOT NULL,

    CONSTRAINT "Order_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."boletos_dda" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "empresa_id" TEXT NOT NULL,
    "fornecedor_nome" TEXT NOT NULL,
    "valor" DECIMAL NOT NULL,
    "vencimento" DATE NOT NULL,
    "codigo_barras" TEXT,
    "linha_digitavel" TEXT,
    "status_pagamento" TEXT NOT NULL DEFAULT 'pendente',
    "data_pagamento" DATE,
    "arquivo_url" TEXT,
    "cnpj_cedente" TEXT,
    "nota_fiscal_id" UUID,
    "lancamento_id" UUID,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "boletos_dda_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."companies" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "name" TEXT NOT NULL,
    "cnpj" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "companies_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."company_invites" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "email" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'viewer',
    "token" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expires_at" TIMESTAMPTZ(6),

    CONSTRAINT "company_invites_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."company_members" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "company_id" UUID,
    "user_id" UUID,
    "role" TEXT DEFAULT 'owner',
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "company_members_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."company_users" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'admin_empresa',
    "status" TEXT NOT NULL DEFAULT 'ativo',
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "company_users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."contas_pagar" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "empresa_id" UUID NOT NULL,
    "fornecedor_id" UUID,
    "recebimento_id" UUID,
    "descricao" TEXT NOT NULL,
    "valor" DECIMAL(12,2) NOT NULL,
    "vencimento" DATE NOT NULL,
    "data_pagamento" DATE,
    "status" "public"."status_conta_pagar" NOT NULL DEFAULT 'pendente',
    "forma_pagamento" TEXT,
    "linha_digitavel" TEXT,
    "boleto_url" TEXT,
    "observacao" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "contas_pagar_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."convites_empresa" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "empresa_id" UUID NOT NULL,
    "email_convidado" TEXT NOT NULL,
    "papel" "public"."papel_usuario" NOT NULL DEFAULT 'operador',
    "token" TEXT NOT NULL,
    "status" "public"."status_convite" NOT NULL DEFAULT 'pendente',
    "expires_at" TIMESTAMPTZ(6) NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "convites_empresa_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."empresa_config" (
    "empresa_id" TEXT NOT NULL,
    "limite_aprovacao_pagamento" DECIMAL NOT NULL DEFAULT 1000,
    "whatsapp_admin" TEXT,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "empresa_config_pkey" PRIMARY KEY ("empresa_id")
);

-- CreateTable
CREATE TABLE "public"."empresa_usuarios" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "empresa_id" UUID NOT NULL,
    "usuario_id" UUID NOT NULL,
    "papel" "public"."papel_usuario" NOT NULL DEFAULT 'operador',
    "status" "public"."status_usuario_emp" NOT NULL DEFAULT 'ativo',
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "empresa_usuarios_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."empresas" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "nome" TEXT NOT NULL,
    "cnpj" TEXT,
    "razao_social" TEXT,
    "segmento" "public"."segmento_empresa" NOT NULL DEFAULT 'restaurante',
    "plano" "public"."plano_saas" NOT NULL DEFAULT 'starter',
    "status_assinatura" "public"."status_assinatura" NOT NULL DEFAULT 'trial',
    "trial_ends_at" TIMESTAMPTZ(6),
    "logo_url" TEXT,
    "timezone" TEXT NOT NULL DEFAULT 'America/Sao_Paulo',
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "empresas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."estoque_itens" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "empresa_id" UUID NOT NULL,
    "produto_id" BIGINT NOT NULL,
    "estoque_minimo" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "estoque_maximo" DECIMAL(14,3),
    "ponto_reposicao" DECIMAL(14,3),
    "fornecedor_padrao_id" UUID,
    "unidade_medida" TEXT,
    "ativo" BOOLEAN NOT NULL DEFAULT true,
    "observacao" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "estoque_itens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."estoque_movimentacoes" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "empresa_id" UUID NOT NULL,
    "produto_id" BIGINT NOT NULL,
    "tipo" "public"."estoque_movimentacao_tipo" NOT NULL,
    "origem" "public"."estoque_origem_tipo" NOT NULL DEFAULT 'manual',
    "quantidade" DECIMAL(14,3) NOT NULL,
    "unidade_medida" TEXT,
    "custo_unitario" DECIMAL(14,4),
    "custo_total" DECIMAL(14,4),
    "referencia_tabela" TEXT,
    "referencia_id" TEXT,
    "documento_numero" TEXT,
    "observacao" TEXT,
    "justificativa" TEXT,
    "lote" TEXT,
    "data_validade" DATE,
    "quantidade_caixas" INTEGER,
    "unidades_por_caixa" INTEGER,
    "quantidade_sistema_antes" DECIMAL(14,3),
    "quantidade_real_contada" DECIMAL(14,3),
    "diferenca_inventario" DECIMAL(14,3),
    "usuario_id" UUID,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "estoque_movimentacoes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."fornecedores" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "empresa_id" UUID NOT NULL,
    "nome_fantasia" TEXT NOT NULL,
    "razao_social" TEXT,
    "cnpj" TEXT,
    "telefone_whatsapp" TEXT,
    "email" TEXT,
    "categoria_principal" TEXT,
    "mensagem_padrao_cotacao" TEXT,
    "is_ativo" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "contato_nome" TEXT,

    CONSTRAINT "fornecedores_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ia_execucoes" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "empresa_id" UUID NOT NULL,
    "tipo" "public"."tipo_ia_execucao" NOT NULL,
    "input_resumo" TEXT,
    "output_resumo" TEXT,
    "tokens_usados" INTEGER,
    "duracao_ms" INTEGER,
    "status" TEXT NOT NULL DEFAULT 'sucesso',
    "erro_msg" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ia_execucoes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."lancamentos" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "empresa_id" TEXT NOT NULL,
    "data_pedido" DATE NOT NULL,
    "fornecedor" TEXT NOT NULL,
    "categoria" TEXT NOT NULL,
    "valor_previsto" DECIMAL NOT NULL DEFAULT 0,
    "valor_real" DECIMAL,
    "vencimento_real" DATE,
    "status_pagamento" TEXT NOT NULL DEFAULT 'pendente',
    "data_pagamento" DATE,
    "is_boleto_recebido" BOOLEAN NOT NULL DEFAULT false,
    "is_manual" BOOLEAN NOT NULL DEFAULT false,
    "anexo_url" TEXT,
    "comprovante_url" TEXT,
    "observacao" TEXT,
    "linha_digitavel" TEXT,
    "codigo_barras" TEXT,
    "arquivo_url_boleto" TEXT,
    "boleto_dda_id" UUID,
    "nota_fiscal_id" UUID,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "lancamentos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."lista_compras" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "empresa_id" UUID NOT NULL,
    "produto_id" UUID NOT NULL,
    "quantidade_solicitada" DECIMAL NOT NULL DEFAULT 1,
    "unidade_compra" TEXT,
    "status_solicitacao" TEXT NOT NULL DEFAULT 'pendente',
    "observacao" TEXT,
    "usuario_solicitante_id" UUID,
    "data_solicitacao" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "lista_compras_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."notas_fiscais_recebidas" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "empresa_id" TEXT NOT NULL,
    "lancamento_id" UUID,
    "boleto_dda_id" UUID,
    "fornecedor" TEXT,
    "numero_nota" TEXT NOT NULL,
    "data_emissao" DATE,
    "chave_acesso" TEXT,
    "valor_total" DECIMAL,
    "arquivo_url" TEXT,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "notas_fiscais_recebidas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."pedidos_compra" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "empresa_id" UUID NOT NULL,
    "fornecedor_id" UUID NOT NULL,
    "status" "public"."status_pedido" NOT NULL DEFAULT 'rascunho',
    "data_pedido" DATE NOT NULL DEFAULT CURRENT_DATE,
    "data_entrega_prevista" DATE,
    "observacao" TEXT,
    "valor_total" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "criado_por" UUID,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "pedidos_compra_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."pedidos_compra_itens" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "pedido_id" UUID NOT NULL,
    "produto_id" UUID NOT NULL,
    "descricao" TEXT NOT NULL,
    "quantidade" DECIMAL(12,3) NOT NULL,
    "unidade" "public"."unidade_medida" NOT NULL DEFAULT 'unidade',
    "valor_unitario" DECIMAL(12,4) NOT NULL DEFAULT 0,
    "valor_total" DECIMAL(12,2) NOT NULL DEFAULT 0,

    CONSTRAINT "pedidos_compra_itens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."planos" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "nome" "public"."plano_saas" NOT NULL,
    "label" TEXT NOT NULL,
    "max_usuarios" INTEGER NOT NULL DEFAULT 3,
    "max_produtos" INTEGER NOT NULL DEFAULT 200,
    "max_docs_mes" INTEGER NOT NULL DEFAULT 30,
    "ia_habilitada" BOOLEAN NOT NULL DEFAULT true,
    "modulo_financeiro" BOOLEAN NOT NULL DEFAULT true,
    "modulo_estoque" BOOLEAN NOT NULL DEFAULT true,
    "modulo_compras" BOOLEAN NOT NULL DEFAULT true,
    "modulo_recebimentos" BOOLEAN NOT NULL DEFAULT true,
    "modulo_assessor_ia" BOOLEAN NOT NULL DEFAULT false,
    "modulo_open_finance" BOOLEAN NOT NULL DEFAULT false,
    "preco_mensal" DECIMAL(10,2) DEFAULT 0,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "planos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."produto_alias" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "empresa_id" UUID NOT NULL,
    "produto_id" UUID NOT NULL,
    "alias_texto" TEXT NOT NULL,
    "fornecedor_id" UUID,
    "unidade" TEXT,
    "confianca" DECIMAL(5,4) NOT NULL DEFAULT 1,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "produto_alias_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."produtos" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "empresa_id" UUID NOT NULL,
    "nome_produto" TEXT NOT NULL,
    "categoria_produto" TEXT NOT NULL DEFAULT 'Outros',
    "unidade_medida" "public"."unidade_medida" NOT NULL DEFAULT 'unidade',
    "custo_medio" DECIMAL(12,4),
    "ultimo_custo" DECIMAL(12,4),
    "ean" TEXT,
    "sku" TEXT,
    "fornecedor_preferencial_id" UUID,
    "estoque_minimo" DECIMAL(12,3) NOT NULL DEFAULT 0,
    "estoque_atual" DECIMAL(12,3) NOT NULL DEFAULT 0,
    "ativo" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "unidade_compra" TEXT,

    CONSTRAINT "produtos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."profiles" (
    "id" UUID NOT NULL,
    "nome" TEXT,
    "email" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "profiles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."recebimento_itens" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "recebimento_id" UUID NOT NULL,
    "produto_id" UUID,
    "descricao_nota" TEXT NOT NULL,
    "quantidade_nota" DECIMAL(12,3) NOT NULL DEFAULT 0,
    "unidade_nota" TEXT,
    "unidade_normalizada" "public"."unidade_medida",
    "valor_unitario_nota" DECIMAL(12,4) NOT NULL DEFAULT 0,
    "valor_total_nota" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "codigo_fornecedor" TEXT,
    "ncm" TEXT,
    "ean" TEXT,
    "match_produto_id" UUID,
    "match_confianca" DECIMAL(4,3),
    "match_metodo" TEXT,
    "match_status" "public"."match_status" NOT NULL DEFAULT 'pendente',
    "tem_divergencia" BOOLEAN NOT NULL DEFAULT false,
    "divergencias" JSONB,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "recebimento_itens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."recebimentos" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "empresa_id" UUID NOT NULL,
    "pedido_compra_id" UUID,
    "fornecedor_id" UUID,
    "numero_nota" TEXT,
    "serie_nota" TEXT,
    "chave_acesso" TEXT,
    "data_emissao" DATE,
    "valor_total_nota" DECIMAL(12,2),
    "arquivo_url" TEXT,
    "xml_url" TEXT,
    "json_extraido" JSONB,
    "status" "public"."status_recebimento" NOT NULL DEFAULT 'pendente',
    "observacao" TEXT,
    "criado_por" UUID,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "recebimentos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."usuarios" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "email" TEXT NOT NULL,
    "nome" TEXT,
    "avatar_url" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "usuarios_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "tenants_waPhoneNumberId_key" ON "public"."tenants"("waPhoneNumberId");

-- CreateIndex
CREATE INDEX "idx_customers_tenantid" ON "public"."customers"("tenantId");

-- CreateIndex
CREATE UNIQUE INDEX "customers_tenantId_phone_key" ON "public"."customers"("tenantId", "phone");

-- CreateIndex
CREATE UNIQUE INDEX "orders_cwOrderId_key" ON "public"."orders"("cwOrderId");

-- CreateIndex
CREATE INDEX "idx_orders_customerid" ON "public"."orders"("customerId");

-- CreateIndex
CREATE INDEX "idx_orders_tenantid_status" ON "public"."orders"("tenantId", "status");

-- CreateIndex
CREATE INDEX "idx_orders_tenant_cw_status" ON "public"."orders"("tenantId", "cardapiowebStatus");

-- CreateIndex
CREATE UNIQUE INDEX "orders_tenantId_idempotencyKey_key" ON "public"."orders"("tenantId", "idempotencyKey");

-- CreateIndex
CREATE INDEX "idx_order_status_logs_orderid" ON "public"."order_status_logs"("orderId");

-- CreateIndex
CREATE INDEX "messages_customer_created" ON "public"."messages"("customerId", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "configs_key_key" ON "public"."configs"("key");

-- CreateIndex
CREATE INDEX "idx_ret_campaigns_tenant_active" ON "public"."retention_campaigns"("tenantId", "active");

-- CreateIndex
CREATE INDEX "idx_ret_sends_campaign_sent" ON "public"."retention_sends"("campaignId", "sentAt");

-- CreateIndex
CREATE INDEX "idx_ret_sends_customer_sent" ON "public"."retention_sends"("customerId", "sentAt");

-- CreateIndex
CREATE UNIQUE INDEX "users_phone_key" ON "auth"."users"("phone");

-- CreateIndex
CREATE INDEX "users_instance_id_idx" ON "auth"."users"("instance_id");

-- CreateIndex
CREATE INDEX "users_is_anonymous_idx" ON "auth"."users"("is_anonymous");

-- CreateIndex
CREATE INDEX "identities_email_idx" ON "auth"."identities"("email");

-- CreateIndex
CREATE INDEX "identities_user_id_idx" ON "auth"."identities"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "identities_provider_id_provider_unique" ON "auth"."identities"("provider_id", "provider");

-- CreateIndex
CREATE INDEX "sessions_not_after_idx" ON "auth"."sessions"("not_after" DESC);

-- CreateIndex
CREATE INDEX "sessions_oauth_client_id_idx" ON "auth"."sessions"("oauth_client_id");

-- CreateIndex
CREATE INDEX "sessions_user_id_idx" ON "auth"."sessions"("user_id");

-- CreateIndex
CREATE INDEX "user_id_created_at_idx" ON "auth"."sessions"("user_id", "created_at");

-- CreateIndex
CREATE UNIQUE INDEX "mfa_amr_claims_session_id_authentication_method_pkey" ON "auth"."mfa_amr_claims"("session_id", "authentication_method");

-- CreateIndex
CREATE UNIQUE INDEX "mfa_factors_last_challenged_at_key" ON "auth"."mfa_factors"("last_challenged_at");

-- CreateIndex
CREATE INDEX "factor_id_created_at_idx" ON "auth"."mfa_factors"("user_id", "created_at");

-- CreateIndex
CREATE INDEX "mfa_factors_user_id_idx" ON "auth"."mfa_factors"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "unique_phone_factor_per_user" ON "auth"."mfa_factors"("user_id", "phone");

-- CreateIndex
CREATE INDEX "mfa_challenge_created_at_idx" ON "auth"."mfa_challenges"("created_at" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "refresh_tokens_token_unique" ON "auth"."refresh_tokens"("token");

-- CreateIndex
CREATE INDEX "refresh_tokens_instance_id_idx" ON "auth"."refresh_tokens"("instance_id");

-- CreateIndex
CREATE INDEX "refresh_tokens_instance_id_user_id_idx" ON "auth"."refresh_tokens"("instance_id", "user_id");

-- CreateIndex
CREATE INDEX "refresh_tokens_parent_idx" ON "auth"."refresh_tokens"("parent");

-- CreateIndex
CREATE INDEX "refresh_tokens_session_id_revoked_idx" ON "auth"."refresh_tokens"("session_id", "revoked");

-- CreateIndex
CREATE INDEX "refresh_tokens_updated_at_idx" ON "auth"."refresh_tokens"("updated_at" DESC);

-- CreateIndex
CREATE INDEX "one_time_tokens_relates_to_hash_idx" ON "auth"."one_time_tokens" USING HASH ("relates_to");

-- CreateIndex
CREATE INDEX "one_time_tokens_token_hash_hash_idx" ON "auth"."one_time_tokens" USING HASH ("token_hash");

-- CreateIndex
CREATE UNIQUE INDEX "one_time_tokens_user_id_token_type_key" ON "auth"."one_time_tokens"("user_id", "token_type");

-- CreateIndex
CREATE INDEX "audit_logs_instance_id_idx" ON "auth"."audit_log_entries"("instance_id");

-- CreateIndex
CREATE UNIQUE INDEX "custom_oauth_providers_identifier_key" ON "auth"."custom_oauth_providers"("identifier");

-- CreateIndex
CREATE INDEX "custom_oauth_providers_created_at_idx" ON "auth"."custom_oauth_providers"("created_at");

-- CreateIndex
CREATE INDEX "custom_oauth_providers_enabled_idx" ON "auth"."custom_oauth_providers"("enabled");

-- CreateIndex
CREATE INDEX "custom_oauth_providers_identifier_idx" ON "auth"."custom_oauth_providers"("identifier");

-- CreateIndex
CREATE INDEX "custom_oauth_providers_provider_type_idx" ON "auth"."custom_oauth_providers"("provider_type");

-- CreateIndex
CREATE INDEX "flow_state_created_at_idx" ON "auth"."flow_state"("created_at" DESC);

-- CreateIndex
CREATE INDEX "idx_auth_code" ON "auth"."flow_state"("auth_code");

-- CreateIndex
CREATE INDEX "idx_user_id_auth_method" ON "auth"."flow_state"("user_id", "authentication_method");

-- CreateIndex
CREATE UNIQUE INDEX "oauth_authorizations_authorization_id_key" ON "auth"."oauth_authorizations"("authorization_id");

-- CreateIndex
CREATE UNIQUE INDEX "oauth_authorizations_authorization_code_key" ON "auth"."oauth_authorizations"("authorization_code");

-- CreateIndex
CREATE INDEX "idx_oauth_client_states_created_at" ON "auth"."oauth_client_states"("created_at");

-- CreateIndex
CREATE INDEX "oauth_clients_deleted_at_idx" ON "auth"."oauth_clients"("deleted_at");

-- CreateIndex
CREATE INDEX "oauth_consents_user_order_idx" ON "auth"."oauth_consents"("user_id", "granted_at" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "oauth_consents_user_client_unique" ON "auth"."oauth_consents"("user_id", "client_id");

-- CreateIndex
CREATE UNIQUE INDEX "saml_providers_entity_id_key" ON "auth"."saml_providers"("entity_id");

-- CreateIndex
CREATE INDEX "saml_providers_sso_provider_id_idx" ON "auth"."saml_providers"("sso_provider_id");

-- CreateIndex
CREATE INDEX "saml_relay_states_created_at_idx" ON "auth"."saml_relay_states"("created_at" DESC);

-- CreateIndex
CREATE INDEX "saml_relay_states_for_email_idx" ON "auth"."saml_relay_states"("for_email");

-- CreateIndex
CREATE INDEX "saml_relay_states_sso_provider_id_idx" ON "auth"."saml_relay_states"("sso_provider_id");

-- CreateIndex
CREATE INDEX "sso_domains_sso_provider_id_idx" ON "auth"."sso_domains"("sso_provider_id");

-- CreateIndex
CREATE INDEX "sso_providers_resource_id_pattern_idx" ON "auth"."sso_providers"("resource_id");

-- CreateIndex
CREATE INDEX "webauthn_challenges_expires_at_idx" ON "auth"."webauthn_challenges"("expires_at");

-- CreateIndex
CREATE INDEX "webauthn_challenges_user_id_idx" ON "auth"."webauthn_challenges"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "webauthn_credentials_credential_id_key" ON "auth"."webauthn_credentials"("credential_id");

-- CreateIndex
CREATE INDEX "webauthn_credentials_user_id_idx" ON "auth"."webauthn_credentials"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "Config_key_key" ON "public"."Config"("key");

-- CreateIndex
CREATE UNIQUE INDEX "Customer_phone_key" ON "public"."Customer"("phone");

-- CreateIndex
CREATE UNIQUE INDEX "Order_displayId_key" ON "public"."Order"("displayId");

-- CreateIndex
CREATE UNIQUE INDEX "Order_cwOrderId_key" ON "public"."Order"("cwOrderId");

-- CreateIndex
CREATE INDEX "idx_boletos_empresa_status" ON "public"."boletos_dda"("empresa_id", "status_pagamento");

-- CreateIndex
CREATE UNIQUE INDEX "idx_company_invites_token_unique" ON "public"."company_invites"("token");

-- CreateIndex
CREATE INDEX "idx_company_invites_company_status" ON "public"."company_invites"("company_id", "status");

-- CreateIndex
CREATE INDEX "idx_company_users_company_status" ON "public"."company_users"("company_id", "status");

-- CreateIndex
CREATE INDEX "idx_company_users_user_company" ON "public"."company_users"("user_id", "company_id");

-- CreateIndex
CREATE UNIQUE INDEX "company_users_company_id_user_id_key" ON "public"."company_users"("company_id", "user_id");

-- CreateIndex
CREATE UNIQUE INDEX "idx_company_users_company_user_unique" ON "public"."company_users"("company_id", "user_id");

-- CreateIndex
CREATE INDEX "idx_contas_empresa" ON "public"."contas_pagar"("empresa_id");

-- CreateIndex
CREATE INDEX "idx_contas_status" ON "public"."contas_pagar"("empresa_id", "status");

-- CreateIndex
CREATE INDEX "idx_contas_vencimento" ON "public"."contas_pagar"("empresa_id", "vencimento");

-- CreateIndex
CREATE UNIQUE INDEX "convites_empresa_token_key" ON "public"."convites_empresa"("token");

-- CreateIndex
CREATE INDEX "idx_convites_email" ON "public"."convites_empresa"("email_convidado");

-- CreateIndex
CREATE INDEX "idx_convites_token" ON "public"."convites_empresa"("token");

-- CreateIndex
CREATE INDEX "idx_emp_usuarios_empresa" ON "public"."empresa_usuarios"("empresa_id");

-- CreateIndex
CREATE INDEX "idx_emp_usuarios_usuario" ON "public"."empresa_usuarios"("usuario_id");

-- CreateIndex
CREATE UNIQUE INDEX "empresa_usuarios_empresa_id_usuario_id_key" ON "public"."empresa_usuarios"("empresa_id", "usuario_id");

-- CreateIndex
CREATE INDEX "idx_estoque_itens_ativo" ON "public"."estoque_itens"("empresa_id", "ativo");

-- CreateIndex
CREATE INDEX "idx_estoque_itens_empresa" ON "public"."estoque_itens"("empresa_id");

-- CreateIndex
CREATE INDEX "idx_estoque_itens_produto" ON "public"."estoque_itens"("produto_id");

-- CreateIndex
CREATE UNIQUE INDEX "estoque_itens_empresa_produto_unique" ON "public"."estoque_itens"("empresa_id", "produto_id");

-- CreateIndex
CREATE INDEX "idx_estoque_mov_empresa" ON "public"."estoque_movimentacoes"("empresa_id", "created_at" DESC);

-- CreateIndex
CREATE INDEX "idx_estoque_mov_empresa_produto" ON "public"."estoque_movimentacoes"("empresa_id", "produto_id", "created_at" DESC);

-- CreateIndex
CREATE INDEX "idx_estoque_mov_produto" ON "public"."estoque_movimentacoes"("produto_id", "created_at" DESC);

-- CreateIndex
CREATE INDEX "idx_estoque_mov_referencia" ON "public"."estoque_movimentacoes"("referencia_tabela", "referencia_id");

-- CreateIndex
CREATE INDEX "idx_estoque_mov_tipo" ON "public"."estoque_movimentacoes"("tipo");

-- CreateIndex
CREATE INDEX "idx_fornecedores_empresa" ON "public"."fornecedores"("empresa_id");

-- CreateIndex
CREATE INDEX "idx_ia_execucoes_empresa" ON "public"."ia_execucoes"("empresa_id", "created_at" DESC);

-- CreateIndex
CREATE INDEX "idx_lancamentos_empresa_status" ON "public"."lancamentos"("empresa_id", "status_pagamento");

-- CreateIndex
CREATE INDEX "idx_lancamentos_empresa_vencimento" ON "public"."lancamentos"("empresa_id", "vencimento_real");

-- CreateIndex
CREATE INDEX "idx_lista_compras_empresa" ON "public"."lista_compras"("empresa_id");

-- CreateIndex
CREATE INDEX "idx_lista_compras_status" ON "public"."lista_compras"("empresa_id", "status_solicitacao");

-- CreateIndex
CREATE INDEX "idx_notas_recebidas_empresa" ON "public"."notas_fiscais_recebidas"("empresa_id", "created_at" DESC);

-- CreateIndex
CREATE INDEX "idx_pedidos_empresa" ON "public"."pedidos_compra"("empresa_id");

-- CreateIndex
CREATE INDEX "idx_pedidos_fornecedor" ON "public"."pedidos_compra"("fornecedor_id");

-- CreateIndex
CREATE INDEX "idx_pedidos_status" ON "public"."pedidos_compra"("empresa_id", "status");

-- CreateIndex
CREATE INDEX "idx_pedido_itens_pedido" ON "public"."pedidos_compra_itens"("pedido_id");

-- CreateIndex
CREATE UNIQUE INDEX "planos_nome_key" ON "public"."planos"("nome");

-- CreateIndex
CREATE INDEX "idx_alias_empresa" ON "public"."produto_alias"("empresa_id");

-- CreateIndex
CREATE INDEX "idx_alias_produto" ON "public"."produto_alias"("produto_id");

-- CreateIndex
CREATE INDEX "idx_alias_texto_trgm" ON "public"."produto_alias" USING GIN ("alias_texto" gin_trgm_ops);

-- CreateIndex
CREATE INDEX "idx_produto_alias_empresa" ON "public"."produto_alias"("empresa_id");

-- CreateIndex
CREATE INDEX "idx_produto_alias_empresa_alias" ON "public"."produto_alias"("empresa_id", "alias_texto");

-- CreateIndex
CREATE INDEX "idx_produto_alias_fornecedor" ON "public"."produto_alias"("fornecedor_id");

-- CreateIndex
CREATE INDEX "idx_produto_alias_produto" ON "public"."produto_alias"("produto_id");

-- CreateIndex
CREATE UNIQUE INDEX "uq_produto_alias_empresa_produto_alias_fornecedor" ON "public"."produto_alias"("empresa_id", "produto_id", "alias_texto", "fornecedor_id");

-- CreateIndex
CREATE INDEX "idx_produtos_empresa" ON "public"."produtos"("empresa_id");

-- CreateIndex
CREATE INDEX "idx_produtos_nome_trgm" ON "public"."produtos" USING GIN ("nome_produto" gin_trgm_ops);

-- CreateIndex
CREATE INDEX "idx_receb_itens_produto" ON "public"."recebimento_itens"("match_produto_id");

-- CreateIndex
CREATE INDEX "idx_receb_itens_recebimento" ON "public"."recebimento_itens"("recebimento_id");

-- CreateIndex
CREATE INDEX "idx_recebimentos_empresa" ON "public"."recebimentos"("empresa_id");

-- CreateIndex
CREATE INDEX "idx_recebimentos_status" ON "public"."recebimentos"("empresa_id", "status");

-- CreateIndex
CREATE UNIQUE INDEX "usuarios_email_key" ON "public"."usuarios"("email");

-- CreateIndex
CREATE INDEX "idx_usuarios_email" ON "public"."usuarios"("email");

-- AddForeignKey
ALTER TABLE "public"."customers" ADD CONSTRAINT "customers_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "public"."tenants"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."orders" ADD CONSTRAINT "orders_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "public"."customers"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."orders" ADD CONSTRAINT "orders_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "public"."tenants"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."order_status_logs" ADD CONSTRAINT "order_status_logs_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "public"."orders"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."messages" ADD CONSTRAINT "messages_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "public"."customers"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."retention_sends" ADD CONSTRAINT "retention_sends_campaignId_fkey" FOREIGN KEY ("campaignId") REFERENCES "public"."retention_campaigns"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "auth"."identities" ADD CONSTRAINT "identities_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "auth"."sessions" ADD CONSTRAINT "sessions_oauth_client_id_fkey" FOREIGN KEY ("oauth_client_id") REFERENCES "auth"."oauth_clients"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "auth"."sessions" ADD CONSTRAINT "sessions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "auth"."mfa_amr_claims" ADD CONSTRAINT "mfa_amr_claims_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "auth"."sessions"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "auth"."mfa_factors" ADD CONSTRAINT "mfa_factors_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "auth"."mfa_challenges" ADD CONSTRAINT "mfa_challenges_auth_factor_id_fkey" FOREIGN KEY ("factor_id") REFERENCES "auth"."mfa_factors"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "auth"."refresh_tokens" ADD CONSTRAINT "refresh_tokens_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "auth"."sessions"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "auth"."one_time_tokens" ADD CONSTRAINT "one_time_tokens_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "auth"."oauth_authorizations" ADD CONSTRAINT "oauth_authorizations_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "auth"."oauth_clients"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "auth"."oauth_authorizations" ADD CONSTRAINT "oauth_authorizations_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "auth"."oauth_consents" ADD CONSTRAINT "oauth_consents_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "auth"."oauth_clients"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "auth"."oauth_consents" ADD CONSTRAINT "oauth_consents_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "auth"."saml_providers" ADD CONSTRAINT "saml_providers_sso_provider_id_fkey" FOREIGN KEY ("sso_provider_id") REFERENCES "auth"."sso_providers"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "auth"."saml_relay_states" ADD CONSTRAINT "saml_relay_states_flow_state_id_fkey" FOREIGN KEY ("flow_state_id") REFERENCES "auth"."flow_state"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "auth"."saml_relay_states" ADD CONSTRAINT "saml_relay_states_sso_provider_id_fkey" FOREIGN KEY ("sso_provider_id") REFERENCES "auth"."sso_providers"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "auth"."sso_domains" ADD CONSTRAINT "sso_domains_sso_provider_id_fkey" FOREIGN KEY ("sso_provider_id") REFERENCES "auth"."sso_providers"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "auth"."webauthn_challenges" ADD CONSTRAINT "webauthn_challenges_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "auth"."webauthn_credentials" ADD CONSTRAINT "webauthn_credentials_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."Order" ADD CONSTRAINT "Order_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "public"."Customer"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."company_invites" ADD CONSTRAINT "company_invites_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "public"."companies"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."company_members" ADD CONSTRAINT "company_members_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "public"."companies"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."company_members" ADD CONSTRAINT "company_members_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."company_users" ADD CONSTRAINT "company_users_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "public"."companies"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."company_users" ADD CONSTRAINT "company_users_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."contas_pagar" ADD CONSTRAINT "contas_pagar_empresa_id_fkey" FOREIGN KEY ("empresa_id") REFERENCES "public"."empresas"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."contas_pagar" ADD CONSTRAINT "contas_pagar_fornecedor_id_fkey" FOREIGN KEY ("fornecedor_id") REFERENCES "public"."fornecedores"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."contas_pagar" ADD CONSTRAINT "contas_pagar_recebimento_id_fkey" FOREIGN KEY ("recebimento_id") REFERENCES "public"."recebimentos"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."convites_empresa" ADD CONSTRAINT "convites_empresa_empresa_id_fkey" FOREIGN KEY ("empresa_id") REFERENCES "public"."empresas"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."empresa_usuarios" ADD CONSTRAINT "empresa_usuarios_empresa_id_fkey" FOREIGN KEY ("empresa_id") REFERENCES "public"."empresas"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."empresa_usuarios" ADD CONSTRAINT "empresa_usuarios_usuario_id_fkey" FOREIGN KEY ("usuario_id") REFERENCES "public"."usuarios"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."fornecedores" ADD CONSTRAINT "fornecedores_empresa_id_fkey" FOREIGN KEY ("empresa_id") REFERENCES "public"."empresas"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."ia_execucoes" ADD CONSTRAINT "ia_execucoes_empresa_id_fkey" FOREIGN KEY ("empresa_id") REFERENCES "public"."empresas"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."pedidos_compra" ADD CONSTRAINT "pedidos_compra_criado_por_fkey" FOREIGN KEY ("criado_por") REFERENCES "public"."usuarios"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."pedidos_compra" ADD CONSTRAINT "pedidos_compra_empresa_id_fkey" FOREIGN KEY ("empresa_id") REFERENCES "public"."empresas"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."pedidos_compra" ADD CONSTRAINT "pedidos_compra_fornecedor_id_fkey" FOREIGN KEY ("fornecedor_id") REFERENCES "public"."fornecedores"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."pedidos_compra_itens" ADD CONSTRAINT "pedidos_compra_itens_pedido_id_fkey" FOREIGN KEY ("pedido_id") REFERENCES "public"."pedidos_compra"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."pedidos_compra_itens" ADD CONSTRAINT "pedidos_compra_itens_produto_id_fkey" FOREIGN KEY ("produto_id") REFERENCES "public"."produtos"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."produtos" ADD CONSTRAINT "produtos_empresa_id_fkey" FOREIGN KEY ("empresa_id") REFERENCES "public"."empresas"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."produtos" ADD CONSTRAINT "produtos_fornecedor_preferencial_id_fkey" FOREIGN KEY ("fornecedor_preferencial_id") REFERENCES "public"."fornecedores"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."profiles" ADD CONSTRAINT "profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."recebimento_itens" ADD CONSTRAINT "recebimento_itens_match_produto_id_fkey" FOREIGN KEY ("match_produto_id") REFERENCES "public"."produtos"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."recebimento_itens" ADD CONSTRAINT "recebimento_itens_produto_id_fkey" FOREIGN KEY ("produto_id") REFERENCES "public"."produtos"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."recebimento_itens" ADD CONSTRAINT "recebimento_itens_recebimento_id_fkey" FOREIGN KEY ("recebimento_id") REFERENCES "public"."recebimentos"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."recebimentos" ADD CONSTRAINT "recebimentos_criado_por_fkey" FOREIGN KEY ("criado_por") REFERENCES "public"."usuarios"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."recebimentos" ADD CONSTRAINT "recebimentos_empresa_id_fkey" FOREIGN KEY ("empresa_id") REFERENCES "public"."empresas"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."recebimentos" ADD CONSTRAINT "recebimentos_fornecedor_id_fkey" FOREIGN KEY ("fornecedor_id") REFERENCES "public"."fornecedores"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."recebimentos" ADD CONSTRAINT "recebimentos_pedido_compra_id_fkey" FOREIGN KEY ("pedido_compra_id") REFERENCES "public"."pedidos_compra"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

